*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

html body{
    font-family:  'Roboto', sans-serif;
    font-size: 20px;
    width: 100vw;
    min-height: 100vw;
}

nav{
    width: 100vw;
    height: 40px;
    background-color:rgb(0, 0, 83);
}
/*Nav-container start*/
.container{
    width: 80%;
    height: 100%;
    display: flex;
    margin:0 auto;
}
/*Nav-container end*/

/*brand selection start*/
.brand-selection{
    display: flex;
    align-items: center;
    margin-right:15px ;
}
.brand-logo{
    display: flex;
    align-items: center;
}
.brand-logo span{
    color: floralwhite;
    font-size: 2rem;
    margin-left: 10px;
}
.brand-tittle a{
    font-size: larger;
    text-decoration: none;
    color: floralwhite;
}

.brand-tittle a:hover{
    text-decoration: underline solid #fff000;
}
/*brand selection end*/

/*main menu start*/
.main-menu{
    display:flex;
    align-items: center;
}
.main-menu a{
    font-size: medium;
    display: inline-block;
    text-decoration:none ;
    margin-right: 1rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #fff;
}
.main-menu a:hover{
    text-decoration: underline solid skyblue;
}
/*main menu end*/

/*Right Menu start*/
.right-menu{
    display: flex;
    align-items:center;
    margin-left: auto;
}
.right-menu a{
    margin-right:1rem;
    display: inline-flex;
    font-size: medium;
    text-decoration:none ;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #fff;
}
.right-menu a:hover{
    text-decoration: underline solid lightseagreen;
}
.right-menu> button{
    border: none;
    outline: none;
    background: transparent;
    color: #fff;
}
/*Right Menu end*/

/*dropdown start*/
.dropdown{
    position: relative;
}

.dropdown> .dropdown-items{
    position: absolute;
    right: 0%;
    background-color:rgb(243, 243, 243);
    box-shadow: 0px 4px 8px 0px rgb(0,0,0,0.2);
    display: none;
    width: 200px;
    border-radius: 0.15rem;
}
.dropdown:hover .dropdown-items{
    display: block;
}

.dropdown-items-ul{
    list-style-type: none;
}

.dropdown-items-li a{
    color: #333;
    font-size: 0.9rem;
    font-weight: bold;
    letter-spacing: normal;
}

.dropdown-items-li:hover{
    background-color:#ddd;
}

.dropdown-items-li{
    padding: 0.5rem 1rem;
    text-align: left;
    text-decoration: none;
}
.divide{
    border: none;
    border-top: 5px black;
}
/*dropdown end*/

/*mega menu-1 start*/
.mega-menu{
    position: relative;
    padding: 1rem;

}

.mega-menu:hover>.mega-menu-container{
    display:flex;
    gap: 2rem;
}

.mega-menu-container{
    position: absolute;
    top: 100%;
    width:800px;
    height: 300px;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgb(0,0,0,0.2);
    display: none;
    padding: 1rem 2rem;
}

.catagory-list{
    list-style-type: none;  
    width: 200px;
}

.catagory-list li{
    padding: 0.5rem 1rem;
}
.catagory-list a{
    color: #333;
    font-size: 0.8rem;
    text-align: left;  
    text-decoration: none; 
}

.catagory-list a:hover{
    cursor: pointer;
    color:blue;
    background: #ddd;
}

/*mega menu-1 end*/


/*mega menu-2 start*/

.mega-menu-2{
    position: relative;
    padding: 1rem;

}

.mega-menu-container-2{
    position: absolute;
    box-shadow: 0 4px 8px 0 rgb(0,0,0,0.2);
    border-radius: 0.4rem;
    width: 600px;
    height: 300px;
    top: 100%;
    background-color: #fff;
    padding:1rem 2rem ;
    display: none;
}
.mega-menu-2:hover  .mega-menu-container-2{
    display: block;
}

.mega-menu-container-2 li{
    list-style-type: none;
}

.mega-menu-container-2 ul{
    width: 90%;
}
.mega-menu-container-2 ul li a {
    color: #333;
    padding: 1rem 0;
    margin-top:2rem ;
    letter-spacing: normal;
    text-align: left;
}
.mega-menu-container-2 ul li a:hover{
    background-color: #ddd;
    width: 100%;
    padding-left: 1rem;
}

.caregory-tittle-2{
    font-size: larger;
    font-weight: bolder;
    right: 82%;
    padding: 1rem 0;
}
/*mega menu-2 end*/

/*table start*/
.wrapper{
    margin: 20px auto;
    width: 60%;
}
.table{
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
.table> caption{
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 15px;
}

.table,.table th,.table td{
    border: 1px solid #333;
    border-collapse: collapse;
    box-shadow: 0px 4px 8px 0 rgb(0,0,0,0.2);
    text-align: center;
}

.table th{
    font-size: larger;
    font-weight: 500;
}

.table th,.table td{
    padding: 0.5rem;
}
.table tbody tr:nth-child(1),
.table tbody tr:nth-child(2),
.table tbody tr:nth-child(3),
.table tbody tr:nth-child(4){
    background-color: #ddd;
}
.table thead tr:nth-child(1){
    background-color:rgb(191, 191, 245);
}
.table thead tr:nth-child(2){
    background-color: #eee898;
}
.table tbody tr:hover{
    background-color: bisque;
    cursor: pointer;
}

/*table end*/

/*form-box start*/
.Basic-Form{
    margin: 1rem auto;
    width: 500px;
    height: 700px;
    background-color:#fff;
    border: 1px solid #333;
    box-shadow: 0 4px 8px 0 rgb(0,0,0,0.2);
}
.form-box{
    width: 450px; 
    margin: 2rem auto;
    font-family: Arial, Helvetica, sans-serif;
}
.form-tittle{
    text-align: center;
    font-size: larger;
    font-weight: bold;
}

form{
    margin-top: 1rem;
}

.form-control{
    margin-top: 0.5rem;
    width: 100%;
    padding: 0.5rem;
}
 .submit-btn{
    text-align: end;
    padding: 1rem 1.5rem;
}
.submit{
    padding: 0.5rem 1rem;
    background-color: #cecece;
    border: 1px;
    border-radius: 5%;
}

.submit:hover{
    cursor: pointer;
}
/*form-box end*/

/*complex form start*/

.complex{
    width: 800px;
    min-height: 300px;
    margin:4rem auto;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgb(0,0,0,0.2);
    border-radius: 0.25rem;
}

.heading{
    width: 100%;
    height: 40px;
    background-color: #cecece;
    color: #fff;
    text-align: center;
    padding: 0.5rem;
    font-size: larger;
    font-weight: bold;
    border-top-left-radius:0.25rem;
    border-top-right-radius: 0.25rem;
}

.form-section{
    width: 100%;
    padding:0 2rem;
}
 .inline-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

.form-group{
    width: 100%;
    margin-bottom: 2rem;
}

.form-group> label{
    width: 100%;
    display: block;
    font-size: large;
    font-weight: 200;
    font-family: Arial, Helvetica, sans-serif;
}

.form-group> input[type='text']{
    width: 80%;
    padding: 0.5rem;
    outline: none;
    border: 1px solid #333;
    margin-top:0.5rem;
    font-family: Arial, Helvetica, sans-serif;
}

.radio-inline-groups{
    display: flex;
    gap: 2rem;
    margin-top: 0.5rem;
}

.form-group> input[type='email'],
.form-group> input[type='tel'],
.form-group> input[type='password'],
.form-group> select
{
    outline: none;
    width: 80%;
    padding: 0.5rem;
    margin-top: 0.5rem;
}

.bio{
    margin-top: 1rem;
}

.bio textarea{
    width: 90%;
    height: 150px;
    resize:none;
    outline: none;
    padding: 0.5rem;
}
.aggrement{
    margin-bottom: 1rem;
}
.aggrement label{
    margin-left: 0.5rem;
}
.btn{
    width: 80px;
    margin-bottom: 2rem;
    padding: 0.5rem;
    font-weight: bold;
    outline: none;
}
.btn-reset:hover{
    background-color: red;
}
.btn-submit:hover{
    background-color: green;
}
.btn:hover{
    cursor: pointer;
}
/*complex form end*/

/*image-gallery start*/
.image-container{
    width: 60%;
    margin: 20px auto;
}
.Grid-image img{
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    height: auto;
}

.Grid-image{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-template-rows: 300px;
    grid-auto-flow: dense;
}

.Grid-image > div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.Grid-image>div>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border: 5px solid #ddd;
    border-radius:10px ;
}

.image-1{
    grid-column: span 2;
}

.image-3{
    grid-row: span 2;
}
.image-5{
    grid-column: span 2;
}
.image-9{
    grid-column:span 2;
    grid-row: span 2;
}
.image-last{
    grid-column:span 2;
}
.mid-image{
    grid-row: span 2;
}
/*image-gallery end*/